@page
@model BirdsTestApp.Pages.Birds.AddModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>

<body>
    

<h2>Add a Bird</h2>
<a asp-page="Index">Back To Birds</a>

<form method="post">
    <div>
        <div>
            

        </div>
    </div>
    
    
    

</form>




</body>
</html>
